{% import 'operation_tools.jinja2' as op_tools %}
{% macro paging_method_declaration(operation, async_mode, initial_response=None) %}
{% set path_format_arguments = "" %}
{% if operation.parameters.path %}
    {% set path_format_arguments = "path_format_arguments=path_format_arguments, " %}
{% endif %}
{% if operation.next_operation %}
    {% set paging_method = "DifferentNextOperationPagingMethod" %}
{% else %}
    {% set paging_method = "BasicPagingMethod" %}
{% endif %}
paging_method = kwargs.pop("paging_method", {{ paging_method }}(
    client=self._client,
    deserialize_output=deserialize_output,
    {% if operation.next_operation %}
    prepare_next_request=prepare_next_request,
    {% endif %}
    {% if initial_response %}
    initial_response={{ initial_response }},
    {% else %}
    initial_request=_prepare_initial_request(),
    {% endif %}
    cls=cls,
    {% if operation.parameters.path %}
    path_format_arguments=path_format_arguments,
    {% endif %}
    {% if operation.item_name != 'value' %}
    item_name='{{ operation.item_name }}',
    {% endif %}
    {% if operation.next_link_name != 'next_link' %}
    continuation_token_name={{ ("'" ~ operation.next_link_name ~ "'") if operation.next_link_name else "None" }},
    {% endif %}
)){% endmacro %}
{% macro item_paged_retval(async_mode) %}
{% set item_paged = "AsyncItemPaged" if async_mode else "ItemPaged" %}
return {{ item_paged }}(paging_method=paging_method){% endmacro %}
{% macro paging_operation(code_model, operation, async_mode, is_lro_paging=False) %}
{% import 'keywords.jinja2' as keywords with context %}
{% set next_link_str = "deserialized." + operation.next_link_name + " or None" if operation.next_link_name else "None" %}
{% set stream_request_parameter = "stream=" ~ ("True" if operation.is_stream_response else "False") %}
cls = kwargs.pop('cls', None)  # type: ClsType[{{ op_tools.return_type_annotation(operation) }}]
    {{ op_tools.error_map(operation, code_model)|indent }}
{% if operation.parameters.grouped %}
    {{ op_tools.grouped_parameters(operation)|indent }}
{%- endif -%}
{% if operation.parameters.is_flattened %}
    {{ operation.parameters.build_flattened_object() }}
{% endif %}
{% if operation.parameters.constant|selectattr("implementation", "equalto", "Method") %}
    {% for constant_parameter in operation.parameters.constant|selectattr("implementation", "equalto", "Method") %}
    {{ constant_parameter.serialized_name }} = {{ constant_parameter.constant_declaration }}
    {% endfor %}
{% endif %}
    {% if operation.parameters.path %}

    path_format_arguments = {
    {% for path_parameter in operation.parameters.path %}
        '{{ path_parameter.rest_api_name }}': {{ operation.build_serialize_data_call(path_parameter, "url") }},
    {% endfor %}
    }
    {% endif %}
    {% if not is_lro_paging %}

    def _prepare_initial_request():
        {{ op_tools.header_parameters(code_model, operation, async_mode)|indent(8) }}
        # Construct URL
        url = self.{{ "begin_" if is_lro_paging }}{{ operation.python_name }}.metadata['url']  # type: ignore
        {% if operation.parameters.path %}
        url = self._client.format_url(url, **path_format_arguments)
        {% endif %}
        {{ op_tools.query_parameters(operation, async_mode)|indent(8) }}
        {{ op_tools.body_parameters(operation)|indent(8) }}
        return request
    {% endif %}

    {{ keywords.def }} deserialize_output(pipeline_response):
        {% set response = operation.responses[0] %}
        return self._deserialize('{{ response.serialization_type }}', pipeline_response)
    {% if operation.next_operation %}

    def prepare_next_request(next_link):
        url = '{{ operation.next_operation.url }}'
        {% if operation.next_operation.parameters.path %}
        path_format_arguments = {
        {% for path_parameter in operation.next_operation.parameters.path %}
            '{{ path_parameter.rest_api_name }}': {{ operation.next_operation.build_serialize_data_call(path_parameter, "url") }},
        {% endfor %}
        }
        url = self._client.format_url(url, **path_format_arguments)
        {% endif %}
        {{ op_tools.header_parameters(code_model, operation, async_mode)|indent(8) }}
        {{ op_tools.query_parameters(operation.next_operation, async_mode)|indent(8) }}
        {{ op_tools.body_parameters(operation.next_operation)|indent(8) }}
        return request
    {% endif %}{%- endmacro -%}